#scheme-header {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--ubuntu-white);
    background: var(--ubuntu-orange);
    border-radius: 0px 0px 64px 64px;
    animation-fill-mode: forwards;
    -webkit-animation-name: heightFrame;
    -moz-animation-name: heightFrame;    
    animation-name: heightFrame;
    animation-duration: 1s;
    --rotation-x: 64px;
    overflow: hidden;
    font-size: 24px;
    width: 100%;
    gap: 16px;
}

#scheme-header h1 {
    text-transform: capitalize;
    font-weight: 900;
    font-size: 64px;
}

#scheme-header h2 {
    text-align: center;
    color: var(--ubuntu-dark);
    font-weight: 600;
    line-height: 1.4;
    max-width: 320px;
    font-size: 32px;
}

#scheme-icons {
    display: flex;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    padding: 8px 32px;
    height: 32px;
    bottom: 16px;
    width: 100%;
    gap: 8px;
}

#scheme-icons li:hover {
    font-size: 32px;
}

#scheme-header h1,
#scheme-icons {
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-name: opacityFrame;
    -moz-animation-name: opacityFrame;
    animation-name: opacityFrame;
    animation-duration: 1s;
}

#scheme-icons {
    animation-delay: 1s;
}

@keyframes opacityFrame {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes heightFrame {
    
    from {
        height: 0vh;
    }

    to {
        height: 75dvh;
    }

}