#scheme-spinner {
    animation: rotate 10s linear infinite;
    position: absolute;
    top: 0px;
}

#scheme-spinner li {
    display: flex;
    position: absolute;
    color: var(--ubuntu-dark);
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#scheme-spinner li:nth-child(1) {
    transform: rotate(0deg) translateX(var(--rotation-x)) rotate(0deg);
}

#scheme-spinner li:nth-child(2) {
    transform: rotate(60deg) translateX(var(--rotation-x)) rotate(-60deg);
}

#scheme-spinner li:nth-child(3) {
    transform: rotate(120deg) translateX(var(--rotation-x)) rotate(-120deg);
}

#scheme-spinner li:nth-child(4) {
    transform: rotate(180deg) translateX(var(--rotation-x)) rotate(-180deg);
}

#scheme-spinner li:nth-child(5) {
    transform: rotate(240deg) translateX(var(--rotation-x)) rotate(-240deg);
}

#scheme-spinner li:nth-child(6) {
    transform: rotate(300deg) translateX(var(--rotation-x)) rotate(-300deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}