#scheme-cards {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

#scheme-cards section {
    position: relative;
    background: var(--ubuntu-white);
    animation-fill-mode: forwards;
    -webkit-animation-name: opacityFrame;
    -moz-animation-name: opacityFrame;    
    animation-name: opacityFrame;
    animation-duration: 1s;
    border-radius: 8px;
    padding: 32px 16px;
    opacity: 0;
}

#scheme-cards section > i {
    position: absolute;
    right: 8px;
    top: 8px;
}

#scheme-cards section h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}

#scheme-cards section p {
    margin: 16px 0px;
    line-height: 1.4;
}

#scheme-cards section ul {
    display: flex;
    gap: 8px;
}

@keyframes opacityFrame {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}